<ul id="user-settings">
    <a title="user settings" href='#'>
        <li>
            <div class="fa fa-user"></div>
            <i class="shortcut-label"></i> User Settings
        </li>
    </a>
</ul>
